<app-header></app-header>
<h2>thi hotel is {{hotelName}}</h2>
<!-- <div [hidden]="hideRooms">
    
    <span [textContent]="hotelRomms"></span>
    <span> room</span>
    
</div> -->

<!-- {{rooms?.avilableRooms ?? 'No rooms'}} -->
<!-- {{'No rooms' ?? rooms?.avilableRooms  }} -->


<!--  json pipe -->
<!-- {{roomList | json}} -->

<div *ngIf="rooms?.avilableRooms" [ngStyle]="{'color':rooms.avilableRooms?'green':'orange'}">
    <h2>this hotel has </h2> 
    
    <span [textContent]="rooms.avilableRooms"></span>
    <span> room</span>

    <button class="btn btn-info" (click)="addRoom()">
        Add Room
      </button>
    <button class="btn btn-dark" (click)="toggle()">
        toggle
      </button>

    <div *ngIf="selectedRoom" class="">
        {{selectedRoom | json}}
    </div>


    <app-rooms-list [rooms]="roomList" [title]="title" (greetEvent)="selectRoom($event)"></app-rooms-list>

    
</div>

<!-- <button (click)="toggle()">room toggle</button> 3.24 -->